{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel ='stylesheet' type = 'text/css' href="{% static 'movie/main.css' %}">
    {% if title %}
        <title> Domnan's Moviepy App - {{ title }}</title>
    {% else %}
        <title>Domnan's Moviepy App</title>
    {% endif %}
</head> 
<!-- Navigation -->
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Movie App(Using MovieDB API) </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#search">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <!-- Image element - set the background image for the header in the line below-->
        <div id="home" class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div id="about"class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Engaging Background Images</h2>
                        <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                        <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section-->
        <section class="py-5">
            <div id="search" class="container my-5">
                <h2 class="row justify-content-center">Search your movie here<br><br></h2>
                <div class="row justify-content-center">
                    <form class="input-group" method="post">
                        {% csrf_token %}
                        <input type="search" class="form-control rounded" name="search" placeholder="Search here..." aria-label="Search" aria-describedby="search-addon" />
                        <button type="submit" class="btn btn-outline-primary">search</button>
                    </form>
                </div>
            </div>
            <div class="row">
                
                {% for r in movie_list %}
                  <div class=" justify-content-center row" >
                    {% for result in r %}
                      {% if r.movie_title and r.movie_overview and r.movie_id %}
                        <div class=" card bg-light w-75 mb-3">
                            <div class=" card-body text-secondary">
                                <img class ="card-img" src="{{r.movie_poster}}" alt="{{r.movie_title}}" style="width:200px"></h4><br>
                                <h4><span class="badge badge-secondary">Movie id :</span> {{r.movie_id}}</h4>
                                <h4><span class="badge badge-secondary">Movie Title :</span> {{r.movie_title}}</h4>
                                <h4><span class="badge badge-secondary">Movie Release Date :</span> {{r.movie_release_date}}</h4>
                                <h4><span class="badge badge-secondary">Movie Overview :</span> {{r.movie_overview}} </h4>
                                <h4><span class="badge badge-secondary">Average movie vote : </span> {{r.movie_voteavg}}</h4>
                            </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>  
                {% endfor %}
                <!-- {% if error %}
                  <div class=" card text-white bg-light mb-2">
                    <div class=" card-body ">
                      <h4 class = "text-center font-weight-bold text-danger">{{error}}</h4>
                    </div>

                  </div>
                {% endif %} -->
            </div>
        </section>
        <!-- Footer-->
        <footer id="contact" class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Gambo Domnan 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    
</body>