{% extends "movie/base.html" %}
{% block content %}
<!-- Image element - set the background image for the header in the line below-->
<div id="home" class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
{% comment %} <!-- Content section-->
<section class="py-5">
    <div id="about"class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Engaging Background Images</h2>
                <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<!-- Content section-->
<section class="py-5">
    <div id="search" class="container my-5" style="color:black">
        <h2 class="row justify-content-center">Search your movie here<br><br></h2>
        <div class="row ">
            <form class="form" action="/search/" method="get">
                <input type="text" class="form-control rounded " name="q" placeholder="Search here..." >
                <button type="submit" class="btn btn-outline-dark ">search</button>
            </form>
        </div>
        <br><br><br>
    </div>
    
</section>
{% endblock content%}